<link rel="stylesheet" href="./templates/footer.css">

<div class="footer-container">
    <a href="https://github.com/maximalekseenko/KtoK" class="footer-link">
        <p class="footer-link-text">Исходный код</p>
        <img class="footer-link-icon" src="">
    </a>
    <a href="https://docs.google.com/document/d/1CiNRsyVAKgzOkBhdpj7MP9i-dKkKl6D8aSXVQy27LQE" class="footer-link">
        <p class="footer-link-text">Документация</p>
        <img class="footer-link-icon" src="">
    </a>
    <a href="https://docs.google.com/presentation/d/1q4sYj2tVoI7fGDUUr6_VPKN87urAbXEbUYVW5l_Nzpg" class="footer-link">
        <p class="footer-link-text">Презентация</p>
        <img class="footer-link-icon" src="">
    </a>
    <img class="footer-logo" src="./img/lt_logo_nb.svg">
</div>