.header-container{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-link-icon{

}

.header-link-container{
    height: 100%;
}


.header-link-text{
    color: black;
}
