.header-container {
    padding: 0 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


/* ---------- header link ---------- */
.header-link {
    height: 100%;
    display: flex;
    color: rgb(104, 102, 143);
}


.header-link-text {
    color: #252638;
    font: bold 18px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}


.header-link-icon{
    width: 80%;
}
/* ---------- header link - end ---------- */


