<link rel="stylesheet" href="./templates/header.css">

<div class="header-container">
    <div class="header-link-container">
        <a href="#" class="header-link-text">Публикации</a>
    </div>
    <div class="header-link-container">
        <a href="#" class="header-link-text">Главная</a>
    </div>
    <div class="header-link-container">
        <a href="#" class="header-link-text">Общение</a>
    </div>

    <div class="header-link-container">
        <a href="#" class="header-link-icon"><img src="./img/account_ico.svg"></a>
    </div>
</div>
