.header-container{
    height: 50px;
    display: flex;
    justify-content: space-between;
}


/* ---------- header link ---------- */
.header-link{
    height: 100%;
    display: flex;
}


.header-link-text{
    color: black;
}


.header-link-icon{

}
/* ---------- header link - end ---------- */


