<link rel="stylesheet" href="./templates/header.css">

<div class="header-container">
    <a href="./gallery.html" class="header-link">
        <p class="header-link-text">Публикации</p>
        <img class="header-link-icon" src="">
    </a>
    <a href="./index.html" class="header-link">
        <p class="header-link-text">Главная</p>
        <img class="header-link-icon" src="">
    </a>
    <a href="./chat.html" class="header-link">
        <p class="header-link-text">Общение</p>
        <img class="header-link-icon" src="">
    </a>

    <a href="./account.html" class="header-link">
        <p class="header-link-text"></p>
        <img class="header-link-icon" src="./img/account_ico.svg">
    </a>
</div>
