header {
    height: 50px;
    background-color: rgb(0, 37, 224);
}

footer{
    height: 50px;
    background-color: rgb(218, 1, 1);
}

body{
    background-color: rgb(235, 10, 255);

}

.content{
    height: 100%;

}

html{
    margin: 0;
}
