header {
    height: 50px;
    background-color: rgb(44, 70, 200);
}


body {
    background-color: rgb(230, 233, 249);
    height: 100vh;
    margin: 0;

    display:flex;
    flex-direction:column;
}


footer {
    height: 50px;
    background-color: rgb(44, 70, 200);
}


.content{
    height: 100%;
    flex:1;
}


html{
    margin: 0;
}
