header {
    height: 50px;
    background-color: rgb(58, 91, 255);
}


body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;

    display:flex;
    flex-direction:column;
}


footer {
    height: 50px;
    background-color: rgb(58, 91, 255);
}


.content{
    flex:1;
}


html{
    margin: 0;
}
